<a href={% url "main" %} class="logo"></a>
<ul class="menu">
    {% for link in menu_links %}
    <li>
        <a href="{% url link.url %}" 
            {% if request.resolver_match.view_name in link.active %}
                class="active"
            {% endif %}
            >
            {{ link.name }}
        <a/>
    </li>
    {% endfor %}
   
    {% if user.is_authenticated %}
    <li>
        <div class="dropdown open">
            <a class="dropdown-toggle" href="" data-toggle="dropdown">
                <i class="fa fa-user fa-1x"></i>
                {{ user.first_name|default:'Пользователь' }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class = "dropdown-item">
                    <a href="{% url 'auth:edit' %}">
                        профиль
                    </a>
                </li>
                <li class = "dropdown-item">
                    <a href="{% url 'orderapp:orders_list' %}">
                        заказы
                    </a>
                </li>
            </ul>
        </div>
    </li>
  
    {% if user.is_superuser %}
    <li>
        <a href="{% url 'admin:users' %}">
            <i class="fa fa-microchip"></i>Админка          
        </a>
    </li>
    {% endif %}  
    <li>
        <a href="{% url 'basket:view' %}"> 
            <i class="fa fa-shopping-basket"></i>Корзина
            {{user.basket.total_cost}} руб. ({{ user.basket.total_quantity }})
        </a>
    </li>
    {% endif %}
    <li>
    {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}">выйти</a>
    {% else %}
        <a href="{% url 'auth:login' %}">войти</a>
    {% endif %}
    </li>
</ul>
<a href="#" class="search"></a>
<a href="#" class="basket"></a>